* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

svg path {
    stroke: inherit;
    stroke-width: inherit;
    fill: inherit;
}

body {
    font-family: $font-family;
    color: #000;
}

.container {
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
}