* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

img {
    display: block;
}

svg path {
    stroke: inherit;
    stroke-width: inherit;
    fill: inherit;
}

body {
    font-family: $font-family;
    color: #000;
}

.title {
    margin-bottom: 40px;
    @include font(700, 40px, 44px, $font-family);
    letter-spacing: -0.01em;
}

@media(max-width:540px) {
    .title {
        margin-bottom: 25px;
        @include font(700, 24px, 28px, $font-family);
    }
}